<a href="https://colab.research.google.com/github/ttevhide/Women_In_Tech/blob/main/Gender.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [8]:
import pandas as pd
import numpy as np
import janitor
import matplotlib
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px
from plotly.subplots import make_subplots
import plotly.graph_objects as go

df = pd.read_csv(r"https://raw.githubusercontent.com/ttevhide/Women_In_Tech/main/DataSet/figure-13.csv?raw=true", header=17)
df.info()
df

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32941 entries, 0 to 32940
Data columns (total 8 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   01 Medicine and dentistry  32941 non-null  object
 1   All                        32941 non-null  object
 2   All.1                      32941 non-null  object
 3   All.2                      32941 non-null  object
 4   All.3                      32941 non-null  object
 5   Other                      32941 non-null  object
 6   2019/20                    32941 non-null  object
 7   150                        32941 non-null  int64
dtypes: int64(1), object(7)
memory usage: 2.0+ MB

,01 Medicine and dentistry,All,All.1,All.2,All.3,Other,2019/20,150
0,01 Medicine and dentistry,All,All,All,All,Total,2019/20,70370
1,01 Medicine and dentistry,All,All,Full-time,All,Female,2019/20,36470
2,01 Medicine and dentistry,All,All,Full-time,All,Male,2019/20,23745
3,01 Medicine and dentistry,All,All,Full-time,All,Other,2019/20,100
4,01 Medicine and dentistry,All,All,Full-time,All,Total,2019/20,60315
...,...,...,...,...,...,...,...,...
32936,Total,Other years,All undergraduate,Full-time,Wales,Total,2019/20,50815
32937,Total,Other years,All undergraduate,Part-time,Wales,Female,2019/20,5730
32938,Total,Other years,All undergraduate,Part-time,Wales,Male,2019/20,4165
32939,Total,Other years,All undergraduate,Part-time,Wales,Other,2019/20,5
32940,Total,Other years,All undergraduate,Part-time,Wales,Total,2019/20,9900

In [9]:
print(df["subject_area"].unique())
print(df["first_year_marker"].unique())
print(dfn["level_of_study"].unique())
print(df["mode_of_study"].unique())
print(df["country_of_he_provider"].unique())

KeyError: ignored